body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: #cee3f8;
    padding: 10px 20px;
    border-bottom: 2px solid #a7bed3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
}

.user-info {
    background-color: white;
    padding: 0.5em;
    margin-right: 1em;
    z-index: 6;
    position: absolute;
    right: 8px;
    bottom: 722px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.icon {
    width: 3em;
    height: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15em;
    height: 50px
}

.mid {
    width: 700px;
    justify-content: space-between;
    position: absolute;
    z-index: 6;
    bottom: 670px;
}

.mid button {
    margin-right: 15px;
    padding: 7px
}

.mid button.active {
    color: #ff4500;
    font-weight: bold;
    border-bottom: none;
    background-color: #ffffff;
}

.right {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 10px
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #0079d3;
}

.user-profile {
    font-size: 14px;
}



.container {
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    padding: 2px;
}

.list {
    display: flex;
    flex-direction: column;
}

.sidebar {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    background-color: #c7e7ff;
    /* position: absolute; */
    width: 170px;
    top: 90px;
}

.sidebar {
    background: #e2f1ff;
    padding: 10px;
    border-radius: 5px;
}
.sidebar ul {
    list-style: none;
    padding: 0px;
}
.sidebar ul li {
    padding: 5px 0;
}
.sidebar ul li a {
    text-decoration: none;
    color: #0079d3;
    display: flex;
    align-items: center;
}
.sidebar ul li a:hover {
    text-decoration: underline;
}

.create-community {
    background: #cae3fd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 0.5em;
}

main {
    background: #fff;
    padding: 15px;
    border-left: #b1b1b1 2px solid;
}

.post-list .post {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.votes {
    font-weight: bold;
    color: #ff4500;
    padding-right: 10px;
}

.post-content a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.discussion {
    background: #fff;
    padding: 15px;
    border-left: #b1b1b1 2px solid;
    
}
